
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  
}

.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  
}
body {
  height: 1000%;
  margin: 0;
  padding: 0;
}
.map-container {
  display: flex;
  flex-direction: column;
}
